/* Global */

body {
    background-color: #222;
    color: #eee;
}
#id_logo {
	border-radius: 5px;
	padding: 2px;
	filter: grayscale(100%) brightness(50%) invert(100%);
	image-rendering: smooth;
}
.well {
	background-color: #111;
}
.popover {
	background-color: #444;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
	color: #ddd;
}
.text-muted {
	color: #bbb;
}

.dropdown-menu {
	background-color: #444;
}
ul.dropdown-menu > li > a, .btn-link.logout_link {
	color: #eee !important;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .fullscreen-main-navbar button.btn-link:hover {
	background-color: #666 !important;
}

.btn, .btn.btn-default {
	border: 0 !important;
	background-color: #666;
	color: #fff !important;
}
.btn:hover, .btn.btn-default:hover {
	background-color: #444 !important;
}
.btn.btn-primary:hover {
	background-color: #0c6488 !important;
}
.btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled] .btn:hover {
	background-color: #666 !important;
}
.btn.btn-danger {
	background-color: #a00;
}
.btn.btn-danger:hover {
	background-color: #800 !important;
}
.btn-warning {
	background-color: #a60 !important;
}
.btn-warning:hover {
	background-color: #840 !important;
}
.btn-success {
	background-color: #0a0 !important;
}
.btn-success:hover {
	background-color: #080 !important;
}

.form-control {
	background-color: #333;
	color: #eee;
	border: 0;
    box-shadow: none;
}
.form-control:focus {
	box-shadow: none;
}

/* Console */

#id_console_name {
	color: #eee;
}

/* Editor */

/* These 2 rules hide the editor console :

#id_ide_console {
	display: none;
}
.splitter-bar.splitter-bar-horizontal.ui-state-default {
	display: none;
} */

.ui-widget-content {
	border: 1px solid #000;
	background: #000;
}

/* Dashboard */

.dashboard-panel__headline a {
	color: #fff;
}

/* Files */

.directory_listing_table i.pale {
	color: #fff;
}
tr.hoverable:hover {
	background-color: #444;
}
#id_directory_listing_toolbar {
	margin-top: 10px;
}
